## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Upernavik,GL,72.7868,-56.1549,41.25,81,12,13.24,few clouds
1,1,Cape Town,ZA,-33.9258,18.4232,62.11,54,0,3.44,clear sky
2,2,Busselton,AU,-33.6500,115.3333,58.08,65,8,20.58,clear sky
3,3,Abha,SA,18.2164,42.5053,66.02,94,100,2.30,overcast clouds
4,4,Kebumen,ID,-7.6687,109.6519,71.80,90,23,4.12,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Zenzeli,RU,45.9241,47.0474,78.33,37,0,4.72,clear sky
7,7,Xiongzhou,CN,25.1167,114.3000,78.49,85,85,0.89,overcast clouds
10,10,Sanary-Sur-Mer,FR,43.1178,5.8001,80.89,65,100,1.99,overcast clouds
12,12,Hami,CN,42.8000,93.4500,85.69,19,0,8.93,clear sky
15,15,Bethel,US,41.3712,-73.4140,82.71,79,75,1.99,broken clouds
18,18,Lamu,KE,-2.2717,40.9020,75.72,77,5,21.52,clear sky
19,19,Albany,US,42.6001,-73.9662,84.25,73,60,1.99,broken clouds
21,21,Bathsheba,BB,13.2167,-59.5167,84.81,79,20,11.50,few clouds
24,24,Jamestown,US,42.0970,-79.2353,86.29,56,20,1.99,few clouds
27,27,Turayf,SA,31.6725,38.6637,89.85,33,0,9.22,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Zenzeli,RU,78.33,clear sky,45.9241,47.0474,
7,Xiongzhou,CN,78.49,overcast clouds,25.1167,114.3000,
10,Sanary-Sur-Mer,FR,80.89,overcast clouds,43.1178,5.8001,
12,Hami,CN,85.69,clear sky,42.8000,93.4500,
15,Bethel,US,82.71,broken clouds,41.3712,-73.4140,
18,Lamu,KE,75.72,clear sky,-2.2717,40.9020,
19,Albany,US,84.25,broken clouds,42.6001,-73.9662,
21,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,
24,Jamestown,US,86.29,few clouds,42.0970,-79.2353,
27,Turayf,SA,89.85,clear sky,31.6725,38.6637,

In [7]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
   # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Zenzeli,RU,78.33,clear sky,45.9241,47.0474,"Gostinitsa ""Zvezdnaya"""
7,Xiongzhou,CN,78.49,overcast clouds,25.1167,114.3000,Xinhewan Business Hotel
10,Sanary-Sur-Mer,FR,80.89,overcast clouds,43.1178,5.8001,Résidence Pierre et Vacances Les Rivages de Co...
12,Hami,CN,85.69,clear sky,42.8000,93.4500,Laoyutang Resort
15,Bethel,US,82.71,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
...,...,...,...,...,...,...,...
698,Makakilo City,US,86.32,broken clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
702,Puerto Salgar,CO,85.62,light rain,5.4630,-74.6544,Hotel Confort
704,Namatanai,PG,78.44,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
706,Tiznit,MA,80.24,clear sky,29.5833,-9.5000,
710,Presidencia Roque Saenz Pena,AR,89.69,overcast clouds,-26.7852,-60.4388,Hotel Gualok

In [20]:
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Zenzeli,RU,78.33,clear sky,45.9241,47.0474,"Gostinitsa ""Zvezdnaya"""
7,Xiongzhou,CN,78.49,overcast clouds,25.1167,114.3000,Xinhewan Business Hotel
10,Sanary-Sur-Mer,FR,80.89,overcast clouds,43.1178,5.8001,Résidence Pierre et Vacances Les Rivages de Co...
12,Hami,CN,85.69,clear sky,42.8000,93.4500,Laoyutang Resort
15,Bethel,US,82.71,broken clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
18,Lamu,KE,75.72,clear sky,-2.2717,40.9020,Lamu House
19,Albany,US,84.25,broken clouds,42.6001,-73.9662,
21,Bathsheba,BB,84.81,few clouds,13.2167,-59.5167,Atlantis Hotel
24,Jamestown,US,86.29,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
27,Turayf,SA,89.85,clear sky,31.6725,38.6637,Turaif

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))